@charset "utf-8";
/* CSS Document */

p { 
	font-size: .875em; /* 14px / 16px */ 
	}
h1 { 
	font-size: 1.5em; /* 24px / 16px */ 
	font-weight: normal; 
	}
h2 { 
	font-size: 1.25em; /* 20px / 16px */ 
	font-weight: normal; 
	}
h3 { 
	font-size: 1.125em; /* 18px / 16px */ 
	font-weight: normal; 
	}
h4 { 
	font-size: 1.0em; /* 16px / 16px */ 
	font-weight: normal; 
	}
h5 { 
	font-size: 0.875em; /* 14px / 16px */ 
	font-weight: normal; 
	}
h6 { 
	font-size: 0.75em; /* 12px / 16px */ 
	font-weight: normal; 
	}
nav {
	text-align: center;
}
nav ul li {
	display: inline;
	font-size:  2.5em;
}
/*#maincontent {*/
/*body {*/
/*#wrapper {*/

#wrapper {
	margin-right: auto;
	margin-left: auto;
	font-family: 'Ribeye Marrow', "Times New Roman", Times;
	/*overflow: hidden;*/
}
#wrapper header #title {
	background-image: url(../images/headerOpaque2.png);
	background-repeat: no-repeat;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
	background-position: center;
	text-align: center;
}
#wrapper header #title h1 {
	font-size:  3.5em;
}
#wrapper header #title h2 {
	font-size:  2.5em;
}
#wrapper header #title h3 {
	font-size:  2.5em;
}
header {
	/*clear:both;*/
}
#title {
	/*clear:both;*/
}
#maincontent {
	background-image: url(../images/AALogoOpaque.png);
	background-repeat: no-repeat;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
	background-position: center;
	margin-right: auto;
	margin-left: auto;
	width: 80%;
	font-family: "Droid Sans Mono", "Times New Roman", Times;
	overflow:hidden;
	/*font-weight: bold;*/
}
footer {
	font-size:  .9em;
	text-align: center;
	clear: both;
}
footer ul li {
	display: inline;
}
/*The css for the errors done from jquery validate*/
/*label.error { display: block; float: none; color: red; padding-left: 11.5em; vertical-align: top; }*/
label.error { 
	color: red;
}
.AddUserControl {
	float:left; 
	clear:left;
	padding-bottom:10px;
}
.bigbook {
	float: left;
}
.linklistitem {
	padding: 10px;
}
.contactlistitem {
	padding: 10px;
}
.contactlistL2 {
	text-indent:50px;
}
.indextext {
	font-size:  2em;
	color:red;
	font-family: Italianno, cursive, "Times New Roman", Times;
}
#drbobaudio {
	width: 25%;
	height: 30px;
}​
.btnprint {} /*I don't know why, but if I don't have this twice, my css won't apply to the page...*/
.btnprint {
	/*display: none !important; The printable version just doesn't look good, so I disabled it here...*/
	font-weight: bold;
	float: right;
	width: 93px;
	/*the below is how I get rounded corners on my buttons*/
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	background-color: #f5f5f5;
	background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
	background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
	background-repeat: repeat-x;
	border-color: #e6e6e6 #e6e6e6 #bfbfbf;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	color: #333;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	font-family: inherit; /*I had to force the inheritance here, else i had to specify it...*/
}
